:root {
  --columns: 2;
}


.app {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.card {
  display: flex;
  overflow: hidden;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card img {
  margin: auto auto;
  clip-path: circle(50%)
}
.hidden {
  display: none;
}